.post img {
  width: 40px;
}

.all-posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  border: none;
  background-color: rgba(247, 245, 242, 0.632);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.isHomeView {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  margin: 0 auto;
  border: none;
  background-color: rgba(247, 245, 242, 0.632);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.post {
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background-color: #f1f1f1;
  box-shadow: 1px 1px 3px black;
}

.isHomeViewPost {
  max-width: 1300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background-color: #f1f1f1;
  box-shadow: 1px 1px 3px black;
}

.personDetails {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.postContent {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.postContent a {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  cursor: pointer;
}

.interactions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 11px;
}

.orderOptions {
  display: flex;
  gap: 10px;
}
.orderOptions a {
  cursor: pointer;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.767);
}

.fa-solid {
  padding-right: 3px;
}

.showMore button {
  width: 200px;
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(
    100% 100% at 100% 0%,
    #4762bc 0%,
    rgb(60, 215, 248) 100%
  );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%),
    0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%),
    inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.showMore button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%),
    0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

.options {
  display: flex;
  gap: 400px;
}
.rightSideOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

/* // */

/* plus sign */
.rightSideOptions button {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
}

.rightSideOptions button:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.rightSideOptions button:active {
  transform: translate(0em, 0.2em);
}

/* // */
.search {
  /* display: inline-block; */
  position: relative;
}

.search input[type="text"] {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
  background-color: #4e99e9;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: blue;
}



@media (max-width: 600px) {
  .all-posts {
    width: 400px;
  }

  .post {
    max-width: 350px;
  }
  .options {
    gap: 10px;
  }
  .rightSideOptions{
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 430px) {
  .all-posts {
    width: 350px;
  }

  .post {
    max-width: 330px;
  }
  .options {
    gap: 10px;
  }
  .search input[type="text"] {
    width: 190px;
  }
}
