.TopUser img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.HomeHeader {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding: 10px;
  gap: 90px;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  background-color: rgba(250, 235, 215, 0);
}

.HomeHeader h2 {
  padding-bottom: 15px;
  font-size: 37px;
  font-family: "Courier New", Courier, monospace;
}

.TopUsers {
  height: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.TopUsersList {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  padding-top: 20px;
}

.TopUser {
  display: flex;
  flex-direction: row;
}

.TopUser p {
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.CurrentStatus {
  height: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.CurrentStatusList {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.CurrentStatusList p {
  margin-left: 37px;
  color: rgba(28, 29, 29, 0.804);
  padding-bottom: 20px;
}

.CurrentStatusList i {
  padding-right: 15px;
}

@media (max-width: 880px) {
  .HomeHeader {
    gap: 10px;
  }

  
  .TopUsersList {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
}

@media (max-width: 650px) {
  .HomeHeader {
    grid-template-columns: auto ;
  
  }
  
  .TopUsersList {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.TopUsers {
  height: auto;
}
}