.addComment {
  width: 1500px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #f1f1f1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
  background-color: #f1f1f1;
}

.addComment textarea {
  padding: 20px 15px 10px 15px;
  height: 100px;
  outline: none;
  border: 1px solid #898787;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 16px;
  font-weight: 550;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 0 5px transparent;
}

.addComment textarea:hover,
.addComment textarea:focus {
  box-shadow: 0 0 0 2px #333;
}

div #error {
  color: rgb(197, 34, 34);
  font-weight: bold;
}

form h5 i {
  color: rgb(197, 34, 34);
  font-weight: bold;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #aae20f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.buttonSend {
    width: 200px;
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
  }
  
  .buttonSend span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid royalblue;
  }
  
  .buttonSend span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  
  .buttonSend:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue;
  }
  
  .buttonSend:hover {
    color: white;
  }
  
  .buttonSend:active span::before {
    background: #2751cd;
  }

  @media (max-width: 1300px) {
    .addComment {
      width: 900px;
    }
  }
  @media (max-width: 980px) {
    .addComment {
      width: 700px;
    }
  }
  @media (max-width: 822px) {
    .addComment {
      width: 500px;
    }
  }
  @media (max-width: 620px) {
    .addComment {
      width: 390px;
    }
  }
  @media (max-width: 490px) {
    .addComment {
      width: 340px;
    }
  }