.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    width: 40vh;
    margin: 5px;
}

.registration-fail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    width: 40vh;
    margin: 5px;
}

.registration-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    width: 40vh;
    margin: 5px;
}

