.authenticated-hoc {
    padding: 5%;
    height: 100vh;
    font-size: 30px;
    color: rgba(123, 6, 6, 0.788);
}

.auth-msg {
    display: flex;
    align-items: center;
    justify-content: center;
}