.postById {
  width: 1500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #f1f1f1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 1px 1px 3px black;
  background-color: #f1f1f1;
}

.postById img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-radius: 50%;
}

.deleteConfirm{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}

.deleteConfirm p{
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.721);
}

.editBtn{
  width: 100px;
  height: 30px;
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1A1A1A;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 1.75em;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.editBtn:hover{
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.editPost{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  align-items: end;
}
.editPost textarea{
  width: 80%;
  height: 100px;
  padding: 5px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  resize: none;
  font-size: 16px;
  box-shadow: 1px 1px 3px black;
}



@media (max-width: 1300px) {
    .postById {
      width: 900px;
    }
}

@media (max-width: 980px) {
    .postById {
      width: 700px;
    }
}
@media (max-width: 822px) {
    .postById {
      width: 500px;
    }
}
@media (max-width: 620px) {
    .postById {
      width: 390px;
    }
}
@media (max-width: 490px) {
    .postById {
      width: 340px;
    }
}