.search-form {
    height: auto;
    width: auto;
    margin: 50px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-form input[type="radio"] {
    margin-left: 5px; 
    margin-right: 5px; 
}

div #error {
  color: rgb(197, 34, 34);
  font-weight: bold;
}

.users-list {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border: solid 20px rgb(152, 153, 153);
  border-radius: 5%;
  background-color: rgb(152, 153, 153);
  margin: 0px 500px 50px 500px;
}

.user-details {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  border: solid 10px rgb(152, 153, 153);
  background-color: white;
  padding: 20px;
}

.user-details img {
  grid-column: 1 / 2;
  width: 100px;
  height: 100px;
}

.user-details div {
  grid-column: 2 / 3;
}

.user-details label {
  font-weight: bold;
  font-size: 20px;
}

.user-details button {
  font-weight: bold;
  font-size: 20px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #aae20f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }